parameters:
    level: 5
    paths:
        - src
        - plugins
        - projects
    scanDirectories:
        - modules
    excludePaths:
        - */vendor/*
        - */__dev__/*
        - projects/*/var/*
        - projects/*/userdata/*
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false

includes:
    - phpstan-baseline.neon
